@tailwind base;
@tailwind components;

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('./assets/fonts/PlusJakartaSans-Regular.ttf'); 
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 800;
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  src: url('./assets/fonts/PlusJakartaSans-SemiBold.ttf'); 
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 500;
  src: url('./assets/fonts/PlusJakartaSans-Medium.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 700;
  src: url('./assets/fonts/PlusJakartaSans-Bold.ttf');
}

@tailwind utilities;


/* Headings */

h1 {
  @apply text-2xl sm:text-[1.75rem] md:text-4xl md:leading-[3.0625rem] lg:text-6xl lg:leading-[4.75rem] 2xl:text-7xl 2xl:leading-[6.125rem] tracking-normal font-extrabold;
}

h2 {
  @apply text-xl xl:text-5xl leading-[4rem] tracking-normal font-extrabold;
}

h3 {
  @apply text-[2.5rem] leading-[3.375rem] tracking-normal font-extrabold;
}

h4 {
  @apply text-[1.75rem] leading-10 tracking-normal font-extrabold;
}

h5 {
  @apply text-xl md:text-2xl md:leading-8 font-semibold;
}

h6 {
  @apply text-xl leading-[1.875rem] font-medium;
}

.subtitle-1 {
  @apply text-lg leading-7 font-bold;
}

.subtitle-2 {
  @apply text-lg leading-7 font-medium;
}

.lead-1 {
  @apply text-lg leading-8;
}

.lead-2 {
  @apply text-sm leading-6 font-medium;
}

.body-1 {
  @apply leading-[1.625rem];
}

.body-2 {
  @apply text-sm leading-[1.375rem];
}

.label-large {
  @apply text-xl leading-[1.875rem] font-semibold;
}

.label-medium {
  @apply text-sm leading-5 font-semibold;
}

.label-small {
  @apply text-xs leading-4 font-semibold;
}

.capitalised {
  @apply md:text-sm leading-[1.125rem] font-extrabold;
}

.badge-label {
  @apply text-xl leading-6;
}

button {
  @apply hover:opacity-40 transition ease-in-out duration-300; 
}


nav li {
  @apply text-link-inactive hover:text-link-active transition ease-in-out duration-300;

}

.text-desc-base {
  @apply text-sm text-desc md:text-base;
}
